.Rproj.user
.Rhistory
.RData
.Ruserdata
01_Ejemplos prácticos/Sesion 06/01_datos/concentradohogar.dbf
01_Ejemplos prácticos/Sesión 08/01_datos/concentradohogar.dbf
00_Presentaciones/clase_11_mapas/curso_mapas/Sesion 01. Introducción a los datos espaciales/01_datos/delitos.csv
